.start {
    height: 600px;
    width: 1320px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("Images/BannerImage.png");
    border-radius: 16px;
    margin: 50px 140px 0px 140px;
    display: block;
}

.headline {
    color: white;
    align-items: center;
    padding-left: 400px;
    padding-right: 400px;
    line-height: normal;
}

.happy {
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-top: 187px;
}

.new {
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top: -16px;
}

.sales {
    text-align: center;
}

.sales > img {
    max-width: 802.9px;
    max-height: 500px;
}

.sales > h2 {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
}

.sales > p {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin-top: 48px;
}

.sales > h3 {
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
}

.welcome {
    display: flex;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("Images/party.png");
    background-repeat: no-repeat;
    border-radius: 16px;
    margin: 120px 140px 0px 140px;
    height: 600px;
    width: 1320px;
    color: white;
    gap: 39px;

}

.message {
    padding: 80px 10px 0px 150px;
}

.message > h2 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.message > p {
    margin-top: -16px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

.message > button {
    padding-left: 32px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border: none;
    background-color: transparent;
}

.message > button:hover {
    cursor: grab;
}


.twenty {
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 68px;
    margin-right: 138px;
}

.info {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 482px;
    border-radius: 16px;
    margin: 120px 140px 0px 140px;
    display: block;
    text-align: center;
}

.details {
    padding: 100px 385px 215px 385px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 15px;
    text-transform: capitalize;
}

.text_color {
    color: #F00;
}

.btn1 {
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    border: none;
    color: white;
    margin-top: 48px;
}

.btn1:hover {
    cursor: grab;
}

.coming {
    display: flex;
    position: absolute;
    gap: 50%;
    width: 1320px;
    height: 463px;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 120px;
}

.soon {
    padding-top: 50px;
}

.cel {
    box-sizing: border-box;
    position:absolute;
    border: 15px solid rgb(255, 0, 0);
    border-radius: 50%;
    width: 350px;
    height: 350px;
    margin-left: 39%;
    background-image: url("Images/Ellipse\ 1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

.new-offer {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: -40px;
}

.offer-des, .wis {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

.cs {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-align: left;
    margin-bottom: 22px;
}

.four {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    margin-bottom: -14px;
}

.year {
    height: 100px;
    width: 100px;
}

.holi {
    position: absolute;
    width: 1320px;
    height: 950px;
    left: 140px;
    right: 140px;
    margin-top: 570px;
    background-image: url("Images/red\ box.png");
    background-repeat: no-repeat;
    background-position: bottom;
}

.functional {
    padding-left: 126px;
    padding-right: 126px;
    text-align: center;
}

.photo {
    display: flex;
}

.box {
    position: absolute;
    width: 796.46px;
    height: 662.07px;
    top: 300px;
    bottom: -3925px;
}

.rect {
    position: absolute;
    width: 429px;
    height: 422px;
    left: 890px;
    top: 300px;
    bottom: -3925px;
}

.dis {
    position: absolute;
    width: 206.84px;
    height: 206.84px;
    left: 800px;
    top: 40%;
    bottom: -51.02%;
}

.what {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: -50px;
}

.h-sale {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    letter-spacing: 0%;
    text-align: center;
}

.holidays {
    color: #F00;
}

.holi-msg {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    margin-top: -50px;
    margin-bottom: 500px;
}

.products {
    position: absolute;
    width: 1320px;
    height: 1163px;
    left: 140px;
    right: -140px;
    top: 4565.07px;
}

.gifts {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
}

.hine {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 30px;
}

.pro-info {
    margin-right: 30%;
    margin-bottom: 30px;
}

.shelf-1 {
    display: flex;
    gap: 25px;
}

.shelf-2 {
    display: flex;
    gap: 25px;
    margin-top: 25px;
}

.newsletter {
    position: absolute;
    width: 1320px;
    height: 616px;
    left: 140px;
    right: 140px;
    top: 5800.07px;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding-top: 80px;
}

.mail {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.news {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    text-transform: capitalize;
}

.req {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    padding-left: 212px;
    padding-right: 212px;
}

.subscribe {
    border-radius: 50px 0px 0px 50px;
    background: rgb(255, 255, 255);
    position: center;
    width: 550px;
    height: 72px;
    text-align: left;
    font-size: 20px;
    padding-left: 30px;
    border: none;
}

.submit {
    position: center;
    width: 150px;
    height: 72px;
    margin-left: 0px;
    border-radius: 0px 50px 50px 0px;
    background-color: #F00;
    color: white;
    font-size: 20px;
    border: none;
}

.subs {
    display: flex;
    margin-left: 300px;
    margin-top: 40px;
}

.submit:hover {
    cursor: progress;
}